
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

body {
    font-family: "Spartan", "Verdana", sans-serif;
    color: white;
    font-size: 15px;
    background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top, right bottom;

}

    
.purple-text {
    color: hsl(300, 43%,22%);
}

header {
        margin: 80px auto 50px;
        text-align: center;
        
}

h1 {
    font-weight: 700;
    padding: 0 30px;
}

header p {
    line-height: 1.5rem;
    padding: 0 10px;
    font-size: 15px;
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}

#star-rates {
    font-weight: 700;
    font-size: 15px;
}

.stars {
    
    height: 90px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 20px;
    width: 320px;
    margin: 15px auto;
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 15px;

    /*  */
    display: flex;
    flex-wrap: wrap;
    /*  */
    }
    
.stars img {
    margin-top: 18px;
    display: inline-block;
}


.star-line {
    position: relative;
    width: 320px;

    
    flex: 100%;
    /*  */
} */

.stars p {
    position: relative;
    top: 18px;
    text-align: center;

    /*  */
    flex: 100%;
    /*  */
}

.image-ball {
    width: 40px;
    border-radius: 25px;
}

#reviews>div>div>section {
    background-color: hsl(300, 43%,22%);
    width: 250px;
    margin: 15px auto;
    padding: 35px;
    border-radius: 15px;
    
}

#reviews>div>div>section>div {
    display:flex;
}



#reviews>div>div>section>div>div {
    margin-top: -12px;
    font-size: 15px;
}
.w-name {
    font-weight: 700;
    margin-bottom: -13px;
    margin-left: 30px;
}
.pink {
    color: hsl(333, 80%, 67%);
    font-weight: 500;
    margin-left: 30px;
}



#reviews>div>div>section>p {
    font-size: 12px;
    font-stretch: extra-expanded;
    line-height: 190%;
    
}



.attribution {
    font-size: 11px;
    text-align: center;
    background-color: hsl(300, 24%, 96%);
    width: 320px;
    margin: 0 auto;
    border-radius:10px;
    color:hsl(303, 10%, 53%);
    height: 20px;
    line-height: 22px;
    vertical-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media only screen and (min-width: 376px) {

    body {
        background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
        background-position: top left, bottom right;
    }

    #top {
        display:flex;   
        position: relative;
    }
    
    body {
        padding: 8% 18% 0%;
    }
    header {
        width: 50%;
        text-align: left;
        margin-top: -80px;
        margin-left: -80px;
        margin-right: 5%;
        padding: 30px;
    }

    h1 {
        font-size: 44px;
        text-shadow: 1px 0 hsl(300, 43%,22%);
        margin-left: -20px;
        margin-bottom: -5px;
    }

    .stars {
        width: 45vw;
        height: 60px;
        flex-wrap: nowrap;
        align-items: center;
        justify-items: center;
        max-width: 500px;
        
    }

    .star-line {
        margin-top: -10px;
        width: 35%;
        flex: 0 1 35%;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .stars p {
        flex: 0 1 65%;
        margin-top: 21px;
        text-align: left;
        padding-right: 5%;
    }

    #star-rates {
        margin-top: -20px;
        margin-left: 30px;
    }

    .star-line img {
        /* display: inline; */
        /* max-width: 100%; */
        max-height: 35%;
        margin: 20px auto 12px;
        padding-left: 1px;
        padding-right: 1px;
    }

    #star-rates>section:nth-child(2) {
        position: relative;
        left: 2.5vw;
    }

    #star-rates>section:nth-child(3) {
        position: relative;
        left: 5vw;
    }

    #reviews {
        width: 62.6vw;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #review-in {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }

    #reviews>div>div {
        padding: 10px;
        display: flex;
        align-items: stretch;
        margin-left: auto;
        margin-right: auto;
    }

    .flex {
        width: 33%;
    }
  
    .flex section {
        margin: auto;
    }

    footer {

        width: 100vw;
        text-align: center;
        margin-left: -29.2%;
    }

    .second {
        position: relative;
        top: 25px;
    }

    .third {
        position: relative;
        top: 50px;
    }

    


@media only screen and (max-width: 1040px) {
    #review-in {
        flex-direction: column;
    }

    .flex section>div {
        width: 80vw;
    }

    .flex {
        margin: 0%;
    }

    #reviews>div>div>section {
        width: 60vw;
        margin-left: -200px;
    }

    #top{
        padding: 8% 18% 0;
    }

    body {
        padding: 0;
    }

    footer {
        width: 100vw;
       margin-left: auto;
       margin-right: auto;
    }

     #star-rates>section:nth-child(2) {
        position: relative;
        left: 0vw;
    }

    #star-rates>section:nth-child(3) {
        position: relative;
        left: 0vw;
    }

    .stars {
        flex-wrap: wrap;
        height: 100px;
    }

    .star-line {
        flex: 100%;
    }

    .stars p {
        flex: 100%;
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 20px;
        left: 8px;
    }

    @media only screen and (max-width: 899px) {
        #star-rates {
            margin-left: -20px;
        }

        .stars {
            width: 40vw;
        }

        #spacer {
            min-width: 8px;
            width: 5%;
            height: 5px;
        }
    }
    
}
}