
@import url("https://fonts.google.com/specimen/Spartan");

body {
    font-family: "Spartan", "Verdana", sans-serif;
    font-weight: 500;
    color: white;
}

.purple-text {
    color: hsl(300, 43%,22%);
}



h1 {
    text-align: center;
    font-weight: 700;
}
header {
        margin-top: 80px;
}
header p {
    text-align: center;
}

#star-rates {
    font-weight: 700;
}

.stars {
    height: 90px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 20px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    }
    
.stars img {
    margin-right: 11px;
}

.stars img:first-of-type {
    position: absolute;
    left:80px;
    top: 18px;
}

.stars img:nth-of-type(2) {
    position: absolute;
    left:115px;
    top: 18px;
}

.stars img:nth-of-type(3) {
    position: absolute;
    left:150px;
    top: 18px;
}

.stars img:nth-of-type(4) {
    position: absolute;
    left:185px;
    top: 18px;
}

.stars img:nth-of-type(5) {
    position: absolute;
    left:220px;
    top: 18px;
}

.stars p {
    padding: 36px 30%;
}